<footer>
    <span class="copyright">{{ .Site.Copyright | safeHTML }}</span>
    <nav>
        <ul class="link-list">
            <li>VAT SE559455327201</li>
            <li>Tel: +46 70 595 46 38</li>
            <li><a href="mailto:hello@appapappa.se">Kontakta oss</a></li>
            {{- with index site.Menus "footer" }}
                {{- range . }}
                    <li><a href="{{ .URL }}">{{ .Title }}</a></li>
                {{- end }}
            {{- end }}
        </ul>
    </nav>
</footer>
